/*reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
/*command css*/
.clearfix {
  content: '';
  display: block;
  clear: both;
}
.button {

}
.layout {
	width: 1200px;
	margin: 0 auto;
}
body {
  font: 14px/1.5 arial;
  background-color: #eee;
  color: #333444;
}
header{
	height: 100%;
  min-height: 600px;
  background: url('../imgs/boat.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}
/*header>div::after {
  content: '';
  display: block;
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:blue;
  opacity: .2;
}*/
header .logo {
  color:#f7ba3e;
  float: left;
  font-size: 32px;
}
header nav ul {
	float: right;
}
header nav>ul>li { 
  float: left;
  margin:10px;
}
header nav a{
	padding: 5px 15px;
	display: inline-block;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
}
header nav a:hover {
  background-color: #f7ba3e;
  color: white;
}
header .intro {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}
header .intro h3{
  font-size: 36px;
}
header .intro h2{
  font-size: 50px;
}
header .button {
  background: #f7ba3e;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 20px;
  color: #fff;
  font-weight: 15px;
  opacity: .8;
} 
header .button:hover{
  opacity: 1;
}
section {
  text-align: center;
  padding-top: 60px;
  display: block;
}
section>h2 {
  font-size: 40px;
  font-weight: bold;
}
section>p {
  margin-top: 10px;
}
section > ul .iconfont {
  font-size: 80px;
  color: #f7ba3e;
}
.hero-list > ul > li {
  float: left;
  width: 33.33%;
  padding: 10px 20px;
}
section>ul p {
  margin-top: 15px;
}
.page2 {
  position: relative;
}
section .family-intro {
  margin-left: 50px;
}
section .family-intro figure {
  width: calc(33.33%);
  height: 220px;
  width: 350px;
  margin :10px;
  float: left;
}
section .family-intro a {
  display: block;
  height: 160px;
}
section .family-intro img{
  width: 100%;
  height: 100%;
}
section .family-intro figcaption {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
section .family-intro p {
  color: #666;
}
/*timeline*/
.timeline {
  position: relative;
}

.timeline li {
  margin-top: 30px;
}
.timeline li::before {
  position: absolute;
  left: 50%;
  margin-top: 97px;
  height: 33px;
  width: 3px;
  background-color: orange;
  content: '';
  margin-left: -1px;
}
.timeline li:last-child::before {
  display: none;
}
.timeline li:nth-child(odd) {
  float: left;
  padding-left: calc(50% - 50px); 
  text-align: left; 
}
.timeline li:nth-child(odd) dl {
  margin-left: 120px;
}
.timeline li:nth-child(even) {
  float: right; 
  padding-right: calc(50% - 50px);
  text-align: right;
}
.timeline li:nth-child(even) dl {
  margin-right: 120px;
}
.timeline > li::after {
  content: '';
  display: block;
  clear: both;
}
.timeline li img { 
  display: inline-block;
  border: 3px solid orange;
  border-radius: 50%;
  width: 100px;
  height:100px;
  float: left;
}
.timeline li:nth-child(even) img {
  float: right;
}